apiclient==1.0.3
discovery==0.0.4
docutils==0.14
geopy==1.11.0
google-api-python-client==1.6.4
httplib2==0.10.3
lockfile==0.12.2
luigi==2.8.0
numpy==1.13.1
oauth2client==4.1.2
pandas==0.20.3
pyasn1==0.3.6
pyasn1-modules==0.1.4
python-daemon==2.1.2
python-dateutil==2.6.1
pytz==2017.2
requests==2.20.0
rsa==4.7
six==1.11.0
tornado==4.5.2
uritemplate==3.0.0
urllib3==1.24.2
tqdm
geocoder==1.32.1
Shapely==1.6.1
Rtree==0.8.3
Fiona==1.7.9.post1
geopandas==0.3.0
joblib==0.11
unidecode
